[submodule "LibAPRS"]
	path = LibAPRS
	url = https://github.com/markqvist/LibAPRS
[submodule "library/LibAPRS"]
	path = library/LibAPRS
	url = https://github.com/markqvist/LibAPRS
[submodule "library/MLP"]
	path = library/MLP
	url = https://github.com/Megunolink/MLP
[submodule "TinyGPS"]
	path = TinyGPS
	url = https://github.com/jstjst/TinyGPS
